<!-- Start Application Status -->
<div class="row">
	<div class="col-xs-12 masthead">
		<div class="masthead-title">
			<h2>Application Status</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-review table-status">
			<thead>
				<tr>
					<th align="center">Section</th>
					<th align="center">Family Information</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="#!/applicantInfo">Applicants</a>
					</td>
					<td>
						<div class="uncompleted-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/householdInfo">Household</a>
					</td>
					<td>
						<div class="uncompleted-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/dependentInfo">Dependants</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/realEstateVehicles">Real Estate/Vehicles</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/assetsLiabilities">Assets/Liabilities</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/income">Income</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/expenses">Expenses</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/schoolQuestions">School Questions</a>
					</td>
					<td>
						<div class="uncompleted-step"></div>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#!/letterAgreement">Confirmation</a>
					</td>
					<td>
						<div class="completed-step"></div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<strong>Application Status</strong>
					</td>
					<td>
						<!-- <div style="margin-left: 55px;">
							<strong>Ready</strong>
						</div> -->
						<div class="status-incomplete"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<!-- End Application Status -->