<!-- Start Asset / Liability -->
<div class="row">
	<div class="col-xs-12 masthead">
		<div class="masthead-title">
			<h2 class="hidden-xs">Asset/Liability Information</h2>
			<h2 class="hidden-sm hidden-md hidden-lg pull-left">Asset/Liability Information</h2>
			<h3 class="hidden-sm hidden-md hidden-lg pull-right">5/9</h3>
		</div>
		<p>In this section, you will be asked to enter information about your assets and liabilities.</p>
	</div>
</div>

<!-- Asset / Liability tab -->
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#household" aria-controls="household" role="tab" data-toggle="tab">Household</a></li>
		</ul>

		<!-- Asset / Liability tab panes -->
		<div class="tab-content">
			<!-- Tab 1 -->
			<div role="tabpanel" class="tab-pane active" id="household">
				<div ng-hide="review">
					<p>Please fill in all fields. If you do not know the dollar amount, place a question mark (?) in the box. This will put the field on hold. You can return later and fill in the dollar amount. If a question does not pertain to you, please enter a zero "0".</p>
					
					<form name="assetsLiabilitiesInfo">
						<div class="row">
							<div class="col-md-12">
								<h3>Assets</h3>
								<hr class="darker">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>501 - Home Value</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Home Value: </strong>
											</div>
											<div class="col-md-12">
												<h4>$1,500,000</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>502 - Other Real Estate</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Other Real Estate Value: </strong>
											</div>
											<div class="col-md-12">
												<h4>$150,000</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>503 - Vehicle</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Vehicle Payments: </strong>
											</div>
											<div class="col-md-12">
												<h4>$55,200</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>504 - Savings
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amounts of all your savings accounts and money market accounts. Use information from statements for the last full month."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.savings504.$invalid && (assetsLiabilitiesInfo.savings504.$touched || assetsLiabilitiesInfo.savings504.$dirty) }">
												<label for="savings504">Savings: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="savings504" name="savings504" ng-model="savings504" required>
												<div ng-if="assetsLiabilitiesInfo.savings504.$touched || assetsLiabilitiesInfo.savings504.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.savings504.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.savings504.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>505 - Checking
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amounts of all your checking accounts. Use information from statements for the last full month."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.checking505.$invalid && (assetsLiabilitiesInfo.checking505.$touched || assetsLiabilitiesInfo.checking505.$dirty) }">
												<label for="checking505">Checking: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="checking505" name="checking505" ng-model="checking505" required>
												<div ng-if="assetsLiabilitiesInfo.checking505.$touched || assetsLiabilitiesInfo.checking505.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.checking505.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.checking505.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>506 - Certificate of Deposit
											<i class="fa fa-info-circle" uib-tooltip="If you own CertiCcates of Deposit, please indicate the amounts here. To get current amounts, call your bank or the issuer of the CD and request totals for the last full quarter or month."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.cd506.$invalid && (assetsLiabilitiesInfo.cd506.$touched || assetsLiabilitiesInfo.cd506.$dirty) }">
												<label for="cd506">Certificate of Deposit: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="cd506" name="cd506" ng-model="cd506" required>
												<div ng-if="assetsLiabilitiesInfo.cd506.$touched || assetsLiabilitiesInfo.cd506.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.cd506.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.cd506.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>507 - Investments
											<i class="fa fa-info-circle" uib-tooltip="Please enter the amounts as of your last quarterly, or monthly, statement of all stocks, bonds, or other securities. Do not include FAST Help: e-mail: help@ismfast.com or 1-877-326-FAST Call Center hours are 24/7/365 any IRA or Keough accounts you may also hold. Please do your best to establish the value as of the last full quarter, or the last month."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.investments507.$invalid && (assetsLiabilitiesInfo.investments507.$touched || assetsLiabilitiesInfo.investments507.$dirty) }">
												<label for="investments507">Stocks, Bonds, Securities, etc.: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="investments507" name="investments507" ng-model="investments507" required>
												<div ng-if="assetsLiabilitiesInfo.investments507.$touched || assetsLiabilitiesInfo.investments507.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.investments507.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.investments507.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>508 - Trust and Inheritance
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amount of money held in trust for you and any dependent children who are not applying as students. Please also include any inheritance received within the last year."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.trustInheritance508.$invalid && (assetsLiabilitiesInfo.trustInheritance508.$touched || assetsLiabilitiesInfo.trustInheritance508.$dirty) }">
												<label for="trustInheritance508">Trust and Inheritance: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="trustInheritance508" name="trustInheritance508" ng-model="trustInheritance508" required>
												<div ng-if="assetsLiabilitiesInfo.trustInheritance508.$touched || assetsLiabilitiesInfo.trustInheritance508.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.trustInheritance508.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.trustInheritance508.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>509 - Retirement Savings
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amounts of all K, IRA, Roth IRA and Keough accounts as of the most recent statements."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.retirement509.$invalid && (assetsLiabilitiesInfo.retirement509.$touched || assetsLiabilitiesInfo.retirement509.$dirty) }">
												<label for="retirement509">Retirement Savings: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="retirement509" name="retirement509" ng-model="retirement509" required>
												<div ng-if="assetsLiabilitiesInfo.retirement509.$touched || assetsLiabilitiesInfo.retirement509.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.retirement509.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.retirement509.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>510 - Business Assets
											<i class="fa fa-info-circle" uib-tooltip="If you own a business, please indicate your business assets as of your last monthly report. If you do not own a business, please fill in a zero."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.businessAssets510.$invalid && (assetsLiabilitiesInfo.businessAssets510.$touched || assetsLiabilitiesInfo.businessAssets510.$dirty) }">
												<label for="businessAssets510">Business Assets: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="businessAssets510" name="businessAssets510" ng-model="businessAssets510" required>
												<div ng-if="assetsLiabilitiesInfo.businessAssets510.$touched || assetsLiabilitiesInfo.businessAssets510.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.businessAssets510.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.businessAssets510.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
											<div class="form-group col-md-12">
												<label for="businessAssetsDetail510">Please explain in detail</label>
												<textarea class="form-control" rows="2" id="businessAssetsDetail510" name="businessAssetsDetail510" ng-model="businessAssetsDetail510"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>511 - Other Assets
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total valuation of your tangible assets. Do not include your house or automobiles. Items that might be included here are valuable pieces of jewelry, art work, antiques, coin collections, boats, airplanes, furs, and anything else for which you might reasonably expect to receive a return of $1,000 or more if it was sold."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.otherAssets511.$invalid && (assetsLiabilitiesInfo.otherAssets511.$touched || assetsLiabilitiesInfo.otherAssets511.$dirty) }">
												<label for="otherAssets511">Other Assets: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="otherAssets511" name="otherAssets511" ng-model="otherAssets511" required>
												<div ng-if="assetsLiabilitiesInfo.otherAssets511.$touched || assetsLiabilitiesInfo.otherAssets511.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.otherAssets511.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.otherAssets511.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
											<div class="form-group col-md-12">
												<label for="otherAssetsDetail511">Please explain in detail</label>
												<textarea class="form-control" rows="2" id="otherAssetsDetail511" name="otherAssetsDetail511" ng-model="otherAssetsDetail511"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>512 - (Optional) Further Explanation</legend>
										<div class="row">
											<div class="form-group col-md-12">
												<label for="otherDetail512">Optional further expense explanation:</label>
												<textarea class="form-control" rows="2" id="otherDetail512" name="otherDetail512" ng-model="otherDetail512"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<br><h3>Liabilities</h3>
								<hr class="darker">
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>550 - Home Principal</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Home Principal: </strong>
											</div>
											<div class="col-md-12">
												<h4>$1,500,000</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>551 - Other Real Estate</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Other Real Estate Principal: </strong>
											</div>
											<div class="col-md-12">
												<h4>$1,500,000</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>552 - Vehicle Debt</legend>
										<div class="row">
											<div class="col-md-12">
												<strong>Vehicle Debt Outstanding: </strong>
											</div>
											<div class="col-md-12">
												<h4>$1,500,000</h4>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>553 - Personal Loans
											<i class="fa fa-info-circle" uib-tooltip="Please enter any secured or unsecured loans you may have received from financial institutions, businesses, or persons. The number should be the actual amount owed to date, not the amount borrowed. Do not include credit card balances or equity loans in this category."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.personalLoans553.$invalid && (assetsLiabilitiesInfo.personalLoans553.$touched || assetsLiabilitiesInfo.personalLoans553.$dirty) }">
												<label for="personalLoans553">Personal Loans: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="personalLoans553" name="personalLoans553" ng-model="personalLoans553" required>
												<div ng-if="assetsLiabilitiesInfo.personalLoans553.$touched || assetsLiabilitiesInfo.personalLoans553.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.personalLoans553.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.personalLoans553.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>554 - Credit Cards
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amount owed on all credit cards–both those issued by banks and those issued by businesses."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.creditCards554.$invalid && (assetsLiabilitiesInfo.creditCards554.$touched || assetsLiabilitiesInfo.creditCards554.$dirty) }">
												<label for="creditCards554">Credit Cards: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="creditCards554" name="creditCards554" ng-model="creditCards554" required>
												<div ng-if="assetsLiabilitiesInfo.creditCards554.$touched || assetsLiabilitiesInfo.creditCards554.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.creditCards554.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.creditCards554.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>555 - Equity Loans
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total of any money that you have borrowed above the mortgage with your house as security."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.equityLoans555.$invalid && (assetsLiabilitiesInfo.equityLoans555.$touched || assetsLiabilitiesInfo.equityLoans555.$dirty) }">
												<label for="equityLoans555">Equity Loans: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="equityLoans555" name="equityLoans555" ng-model="equityLoans555" required>
												<div ng-if="assetsLiabilitiesInfo.equityLoans555.$touched || assetsLiabilitiesInfo.equityLoans555.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.equityLoans555.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.equityLoans555.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>556 - Equity Interest
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total of all interest paid annually on the equity loans listed in 555 above."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.equityInterest556.$invalid && (assetsLiabilitiesInfo.equityInterest556.$touched || assetsLiabilitiesInfo.equityInterest556.$dirty) }">
												<label for="equityInterest556">Equity Interest Paid: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="equityInterest556" name="equityInterest556" ng-model="equityInterest556" required>
												<div ng-if="assetsLiabilitiesInfo.equityInterest556.$touched || assetsLiabilitiesInfo.equityInterest556.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.equityInterest556.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.equityInterest556.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>557 - Other Liabilities
											<i class="fa fa-info-circle" uib-tooltip="Please enter the total amount you owe for items such as court judgments, delinquent taxes, or any other liability that you might have that was not covered in the previous questions."></i>
										</legend>
										<div class="row">
											<div class="form-group col-md-12" ng-class="{ 'has-error' : assetsLiabilitiesInfo.otherLiabilities557.$invalid && (assetsLiabilitiesInfo.otherLiabilities557.$touched || assetsLiabilitiesInfo.otherLiabilities557.$dirty) }">
												<label for="otherLiabilities557">Other Liabilities: <span class="required-field">*</span></label>
												<strong class="prefix">$</strong>
												<input type="text" format="number" ng-pattern="/^[0-9,]+$/" class="form-control input-prefix" id="otherLiabilities557" name="otherLiabilities557" ng-model="otherLiabilities557" required>
												<div ng-if="assetsLiabilitiesInfo.otherLiabilities557.$touched || assetsLiabilitiesInfo.otherLiabilities557.$dirty">
													<p class="help-block" ng-if="assetsLiabilitiesInfo.otherLiabilities557.$error.required">This field cannot be blank</p>
												</div>
												<div ng-if="assetsLiabilitiesInfo.otherLiabilities557.$error.pattern">
													<p class="help-block">Numbers only in this field</p>
												</div>
											</div>
											<div class="form-group col-md-12">
												<label for="otherLiabilitiesDetail557">Please explain in detail</label>
												<textarea class="form-control" rows="2" id="otherLiabilitiesDetail557" name="otherLiabilitiesDetail557" ng-model="otherLiabilitiesDetail557"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group-wrapper">
									<fieldset class="form-group">
										<legend>558 - (Optional) Further Explanation</legend>
										<div class="row">
											<div class="form-group col-md-12">
												<label for="otherDetail558">Optional further expense explanation:</label>
												<textarea class="form-control" rows="2" id="otherDetail558" name="otherDetail558" ng-model="otherDetail558"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						
						<div class="button-group clearfix">
							<button type="submit" class="btn btn-success btn-lg pull-right" ng-click="review=true" ng-disabled="assetsLiabilitiesInfo.$invalid">Proceed</button>
						</div>
					</form>
				</div>

				<!-- Tab 1 Review -->
				<div ng-show="review">
					<div class="row">
						<div class="col-md-12">
							<h3>Assets</h3>
						</div>
					</div>

					<table class="table table-striped table-review">
						<thead>
							<tr>
								<th colspan="2">Please check to make sure all values are correct.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="form-section-label">
									<strong>501 - Home Value</strong>
								</td>
								<td>$92,000</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>502 - Other Real Estate Value</strong>
								</td>
								<td>$0</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>503 - Vehicle(s) Value</strong>
								</td>
								<td>$1,203</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>504 - Savings</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.savings504.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>505 - Checking</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.checking505.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>506 - Certificate of Deposit</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.cd506.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>507 - Stocks, Bonds, Securities, etc</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.investments507.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>508 - Trust & Inheritance</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.trustInheritance508.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>509 - Retirement Savings</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.retirement509.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>510 - Business Assets</strong>
									<span ng-if="assetsLiabilitiesInfo.businessAssetsDetail510.$viewValue.length"><br>
									<br>
									<strong>Please explain in detail</strong></span>
								</td>
								<td>
									${{assetsLiabilitiesInfo.businessAssets510.$viewValue}}
									<span ng-if="assetsLiabilitiesInfo.businessAssetsDetail510.$viewValue.length"><br>
									<br>
									{{assetsLiabilitiesInfo.businessAssetsDetail510.$viewValue}}</span>
								</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>511 - Other Assets</strong>
									<span ng-if="assetsLiabilitiesInfo.otherAssetsDetail511.$viewValue.length"><br>
									<br>
									<strong>Please explain in detail</strong></span>
								</td>
								<td>
									${{assetsLiabilitiesInfo.otherAssets511.$viewValue}}
									<span ng-if="assetsLiabilitiesInfo.otherAssetsDetail511.$viewValue.length"><br>
									<br>
									{{assetsLiabilitiesInfo.otherAssetsDetail511.$viewValue}}</span>
								</td>
							</tr>

							<tr ng-if="assetsLiabilitiesInfo.otherDetail512.$viewValue.length">
								<td class="form-section-label">
									<strong>512 - (Optional) Further Explanation</strong>
								</td>
								<td>
									{{assetsLiabilitiesInfo.otherDetail512.$viewValue}}
								</td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="col-md-12">
							<h3>Liabilities</h3>
						</div>
					</div>

					<table class="table table-striped table-review">
						<tbody>
							<tr>
								<td class="form-section-label">
									<strong>550 - Home Principal</strong>
								</td>
								<td>$5,000</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>551 - Other Real Estate Principal</strong>
								</td>
								<td>$5,000</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>552 - Vehicle Debt Outstanding</strong>
								</td>
								<td>$5,000</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>553 - Personal Loans</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.personalLoans553.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>554 - Credit Cards</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.creditCards554.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>555 - Equity Loans</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.equityLoans555.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>556 - Equity Interest Paid</strong>
								</td>
								<td>${{assetsLiabilitiesInfo.equityInterest556.$viewValue}}</td>
							</tr>

							<tr>
								<td class="form-section-label">
									<strong>557 - Other Liabilities</strong>
									<span ng-if="assetsLiabilitiesInfo.otherLiabilitiesDetail557.$viewValue.length"><br>
									<br>
									<strong>Please explain in detail</strong></span>
								</td>
								<td>
									${{assetsLiabilitiesInfo.otherLiabilities557.$viewValue}}
									<span ng-if="assetsLiabilitiesInfo.otherLiabilitiesDetail557.$viewValue.length"><br>
									<br>
									{{assetsLiabilitiesInfo.otherLiabilitiesDetail557.$viewValue}}</span>
								</td>
							</tr>

							<tr ng-if="assetsLiabilitiesInfo.otherDetail558.$viewValue.length">
								<td class="form-section-label">
									<strong>558 - (Optional) Further Explanation</strong>
								</td>
								<td>
									{{assetsLiabilitiesInfo.otherDetail558.$viewValue}}
								</td>
							</tr>
						</tbody>
					</table>

					<form>
						<div class="button-group clearfix">
							<button type="submit" class="btn btn-success btn-lg pull-right">Proceed</button>
							<button type="submit" class="btn btn-default btn-lg pull-right" ng-click="review=false">Edit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Asset / Liability -->