<div class="helpcenter">
	<div class="help-content" ng-hide="helprequest">
		<div class="row">
			<div class="col-xs-12 masthead">
				<div class="masthead-title">
					<h2>FAST Help Center</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>General Questions</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel-group" id="accordion" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading1">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/help/#collapse1" aria-expanded="true" aria-controls="collapse1">
									<div class="checklist-title">
										What happens after I have completed the application?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
							<div class="panel-body">
								Your information is immediately calculated and the recommended award is available to the school. However, awards may not be made until all applications are in, and they are often contingent upon the funds available and the number of families requesting aid. Your school will notify you directly about its financial aid decision.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading2">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse2" aria-expanded="false" aria-controls="collapse2">
									<div class="checklist-title">
										What if I don’t understand how I should answer a question?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
								When you click on a field, there is a Help Bubble (as seen in Figure A) to explain what information is needed for that field. A summary of that information is listed in the downloadable worksheet on the Navigation bar. If you still have questions, contact our Call Center at 1-877-326-FAST. If you are still not sure if you are including the appropriate information, write a short note to the school in the spaces provided at the end of each section.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading3">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse3" aria-expanded="false" aria-controls="collapse3">
									<div class="checklist-title">
										Who can see my information?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
							<div class="panel-body">
								Authorized personnel at the school to which you are applying and FAST employees who need to handle your application are the only ones with access to your records.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading4">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse4" aria-expanded="false" aria-controls="collapse4">
									<div class="checklist-title">
										Why didn’t I receive more financial aid?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
							<div class="panel-body">
								Awards are based not only on need, but on the funds your school has available. This means that even though you may qualify for more aid, a school’s financial condition may limit what it can offer.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading5">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse5" aria-expanded="false" aria-controls="collapse5">
									<div class="checklist-title">
										What if I make a mistake?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
							<div class="panel-body">
								If you make a mistake before you have checked the Accept box at the end and before you have paid the filing fee, just go back and make the changes. Nothing is final until you have paid. If you discover an error after you have paid, you can log in to your account, where you can request a change. This request will go directly to the school, where Financial Aid personnel have the ability to go into the program and revise your entry. Our Call Center does not have access to your file and cannot make a change for you.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading6">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse6" aria-expanded="false" aria-controls="collapse6">
									<div class="checklist-title">
										How long will this take to complete? Do I have to complete this application at one time?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
							<div class="panel-body">
								Gathering the necessary information to complete this form is similar to gathering information to complete your taxes. Once you have collected all your financial information, it should take approximately 45 minutes to complete this application. You do not have to complete everything at one time. You may log out and come back later, using your username and password.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading7">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse7" aria-expanded="false" aria-controls="collapse7">
									<div class="checklist-title">
										I filled in most of the page before I quit, but when I went back into the program the information was gone. What happened?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
							<div class="panel-body">
								FAST only saves information from completed sections. If, for example, you are working on Income, you need to complete the entire section in order for that information to be saved.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading8">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse8" aria-expanded="false" aria-controls="collapse8">
									<div class="checklist-title">
										What are the accepted payment methods?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
							<div class="panel-body">
								We accept Visa and MasterCard. If you do not have either of these cards, you may contact your school to obtain a payment voucher to use in place of a credit card. If the filing fee presents a hardship to you, please contact your school.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading9">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse9" aria-expanded="false" aria-controls="collapse9">
									<div class="checklist-title">
										My screen says “Cookies must be enabled.” What does that mean?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
							<div class="panel-body">
								Cookies refer to information that is stored on your computer by sites on the World Wide Web. In order to operate, FAST requires that your computer be configured to accept cookies. In most instances, this will already be done. However, if you get an error message, click on your browser’s Help menu and look up information about how to enable cookies.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading10">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse10" aria-expanded="false" aria-controls="collapse10">
									<div class="checklist-title">
										Will I be spammed?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
							<div class="panel-body">
								Absolutely not. Your e-mail address will never be shared with anyone but the school to which you are applying.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading11">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse11" aria-expanded="false" aria-controls="collapse11">
									<div class="checklist-title">
										What papers will I need to send?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
							<div class="panel-body">
								You should be prepared to send your tax returns and your W2s. After you submit your payment, you will also receive an e-mail with a list of documents you will need to send.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading12">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse12" aria-expanded="false" aria-controls="collapse12">
									<div class="checklist-title">
										I forgot my password. What should I do? On the login page, click on “forgot username or password?”
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
							<div class="panel-body">
								You will be asked to enter your e-mail address. You will receive an e-mail with your username and password.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading13">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse13" aria-expanded="false" aria-controls="collapse13">
									<div class="checklist-title">
										I need to explain something about our assets. How do I do that?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
							<div class="panel-body">
								Line 512 gives you room to write about your assets. There are also spaces in Liabilities (Line 558), Income (line 610), and Expenses (line 718) for you to clarify any of your answers. Plus, there is room in the Letter/Agreement section.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading14">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse14" aria-expanded="false" aria-controls="collapse14">
									<div class="checklist-title">
										I have a Section 125 Plan and have pre-tax money withheld. Do I have to include that when I list my W2 income?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
							<div class="panel-body">
								Yes, you do. On lines 601 and 601b we ask you to list your gross wages before any deductions are taken.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading15">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse15" aria-expanded="false" aria-controls="collapse15">
									<div class="checklist-title">
										When is the application due?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
							<div class="panel-body">
								The due date is up to the school, so please be sure to ask if no deadline is provided. Earlier is always better.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading16">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse16" aria-expanded="false" aria-controls="collapse16">
									<div class="checklist-title">
										I’m having problems paying for my application. What do I do?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
							<div class="panel-body">
								Please contact FAST at 877-326-FAST. A ticket will be opened on your behalf and sent to the home office. You will be contacted by the next available Client Services Representative for assistance.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading17">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse17" aria-expanded="false" aria-controls="collapse17">
									<div class="checklist-title">
										I need to apply to more than one school. How do I do this?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
							<div class="panel-body">
								Complete and pay for a FAST application to one of the schools you are applying to. You will receive an e-mail giving you pin #. Click the link in the e-mail, enter your pin# and proceed with your applications to any additional schools you need to apply to. There will be a $10 charge for each additional application.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading18">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="help/#collapse18" aria-expanded="false" aria-controls="collapse18">
									<div class="checklist-title">
										I’ve sent my taxes, but haven’t heard anything. How do I find out if they were received?
									</div>
								</a>
							</h4>
						</div>
						<div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
							<div class="panel-body">
								You can check the status of your tax information by returning to the Post Application Features screen. Also, if you are missing information from your tax packet, you will be notified by e-mail.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Tax Questions</h3>
			</div>
		</div>
		<div class="panel-group" id="accordion1" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading1">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse1" aria-expanded="true" aria-controls="accordion1-collapse1">
							<div class="checklist-title">
								Why does the school want to see my tax information?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading1">
					<div class="panel-body">
						The school usually has a financial aid budget set aside for deserving families who need help to pay their tuition. Verifying income is one way for the school to determine those who truly need assistance.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading2">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse2" aria-expanded="false" aria-controls="accordion1-collapse2">
							<div class="checklist-title">
								When are the tax forms due?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading2">
					<div class="panel-body">
						Usually, it is best to have your tax forms mailed within a week of completing your application.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading3">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse3" aria-expanded="false" aria-controls="accordion1-collapse3">
							<div class="checklist-title">
								Do I need to wait until April 15 before I can send my tax forms?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading3">
					<div class="panel-body">
						Many times schools process requests for financial aid on a first come, first served basis. It is good to complete your taxes as early as possible so that your application will be considered in the first wave of awards.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading4">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse4" aria-expanded="false" aria-controls="accordion1-collapse4">
							<div class="checklist-title">
								I have asked for an extension from the Federal Government and will be filing my taxes later in the year.
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading4">
					<div class="panel-body">
						Generally, your completed tax forms must be submitted before the school can make an award. Some schools will make tentative awards without tax forms, but require the tax forms be submitted before making the actual award.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading5">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse5" aria-expanded="false" aria-controls="accordion1-collapse5">
							<div class="checklist-title">
								What tax forms are needed?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading5">
					<div class="panel-body">
						<ul>
							<li>Federal tax forms for the current year (see explanation to follow)</li>
							<li>W-2s, 1099's if appropriate</li>
							<li>State tax forms for the current year (if applicable)</li>
							<li>Appropriate Schedules for property or business</li>
							<li>Also any other forms that your individual school may have requested</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading6">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse6" aria-expanded="false" aria-controls="accordion1-collapse6">
							<div class="checklist-title">
								What is considered the current year for tax forms?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading6">
					<div class="panel-body">
						This depends on when you are applying for financial aid. If you are applying for aid in February 2017 for the 2017-18 school year, the current year would be forms for 2016. If you are applying for aid in December 2016 for the 2017-18 school year, the current year would be 2016.
						<br>
						Generally, schools award aid from January-March, and sometimes April, before the school year begins in September. That would mean that the current year would be the taxes you are filing prior to April 15.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading7">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse7" aria-expanded="false" aria-controls="accordion1-collapse7">
							<div class="checklist-title">
								Where should I mail my tax information?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading7">
					<div class="panel-body">
						Your school will provide you with a pre-addressed tax envelope. If you do not receive the envelope, mail your tax forms to:
						<br>
						<address>
							Independent School Management<br>
							ATTN: FAST Processing Center<br>
							1316 North Union Street<br>
							Wilmington, DE 19806
						</address>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading8">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse8" aria-expanded="false" aria-controls="accordion1-collapse8">
							<div class="checklist-title">
								How quickly will my forms be processed?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading8">
					<div class="panel-body">
						We accept Visa and MasterCard. If you do not have either of these cards, you may contact your school to obtain a payment voucher to use in place of a credit card. If the filing fee presents a hardship to you, please contact your school.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading9">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse9" aria-expanded="false" aria-controls="accordion1-collapse9">
							<div class="checklist-title">
								My screen says “Cookies must be enabled.” What does that mean?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading9">
					<div class="panel-body">
						Usually within 3-5 business days of receipt. You can aid in the quick processing by noting the name of school you are applying to UNDER your return address.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="accordion1-heading10">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion1" href="help/#accordion1-collapse10" aria-expanded="false" aria-controls="accordion1-collapse10">
							<div class="checklist-title">
								Can I fax my tax forms to FAST?
							</div>
						</a>
					</h4>
				</div>
				<div id="accordion1-collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion1-heading10">
					<div class="panel-body">
						No. Many times the forms become very hard to read and are not scanned easily when received by fax.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Contact Us</h3>
				<p>To reach us by telephone, please call our toll-free number 877-326-FAST (3278). We are open 24 hours/7 days</p>
				<button class="btn btn-primary btn-md" ng-click="helprequest = true">Submit an Online Help Request</button>
			</div>
		</div>
		<br>
	</div>


	<!-- Start Help Request -->
	<div class="help-request" ng-show="helprequest">
		<div class="row">
			<div class="col-xs-12 masthead">
				<div class="masthead-title">
					<div class="button-group">
						<button class="btn btn-default" ng-click="helprequest = false"><i class="fa fa-arrow-left"></i> Back</button>
					</div>
					<h2>Submit an Online Help Request</h2>
				</div>
				<p>This information will make it to online customer service support and someone should contact you on the next business day.</p>
			</div>
		</div>
		<form name="onlineHelpRequest">
			<div class="form-group-wrapper">
				<fieldset class="form-group">
					<div class="row">
						<div class="form-group col-md-6" ng-class="{ 'has-error' : onlineHelpRequest.parentname.$invalid && (onlineHelpRequest.parentname.$touched || onlineHelpRequest.parentname.$dirty) }">
							<label for="parentname">Parent Name <span class="required-field">*</span></label>
							<input type="text" class="form-control" id="parentname" name="parentname" ng-model="parentname" placeholder="Parent Name" ng-pattern="/^[a-zA-Z\s]*$/" required>
							<div ng-if="onlineHelpRequest.parentname.$touched || onlineHelpRequest.parentname.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.parentname.$error.required">This field cannot be blank</p>
							</div>
							<div ng-if="onlineHelpRequest.parentname.$error.pattern">
								<p class="help-block">Letters only (a-z) in this field</p>
							</div>
						</div>
						<div class="form-group col-md-6" ng-class="{ 'has-error' : onlineHelpRequest.childname.$invalid && (onlineHelpRequest.childname.$touched || onlineHelpRequest.childname.$dirty) }">
							<label for="childname">Child Name <span class="required-field">*</span></label>
							<input type="text" class="form-control" id="childname" name="childname" ng-model="childname" placeholder="Child Name" ng-pattern="/^[a-zA-Z\s]*$/"required>
							<div ng-if="onlineHelpRequest.childname.$touched || onlineHelpRequest.childname.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.childname.$error.required">This field cannot be blank</p>
							</div>
							<div ng-if="onlineHelpRequest.childname.$error.pattern">
								<p class="help-block">Letters only (a-z) in this field</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" ng-class="{ 'has-error' : onlineHelpRequest.school.$invalid && (onlineHelpRequest.school.$touched || onlineHelpRequest.school.$dirty) }">
							<label for="school">School Name <span class="required-field">*</span></label>
							<input type="text" class="form-control" id="school" name="school" ng-model="school" placeholder="School Name" required>
							<div ng-if="onlineHelpRequest.school.$touched || onlineHelpRequest.school.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.school.$error.required">This field cannot be blank</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6" ng-class="{ 'has-error' : onlineHelpRequest.homephone.$invalid && (onlineHelpRequest.homephone.$touched || onlineHelpRequest.homephone.$dirty) }">
							<label for="homephone">Home Phone <span class="required-field">*</span></label>
							<input type="tel" class="form-control" id="homephone" name="homephone" ng-model="homephone" placeholder="Home Phone" ng-pattern="/^[0-9]*$/" required>
							<div ng-if="onlineHelpRequest.homephone.$touched || onlineHelpRequest.homephone.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.homephone.$error.required">This field cannot be blank</p>
							</div>
							<div ng-if="onlineHelpRequest.homephone.$error.pattern">
								<p class="help-block">Numbers only in this field</p>
							</div>
						</div>
						<div class="form-group col-md-6" ng-class="{ 'has-error' : onlineHelpRequest.cellphone.$invalid && (onlineHelpRequest.cellphone.$touched || onlineHelpRequest.cellphone.$dirty) }">
							<label for="cellphone">Cell Phone </label>
							<input type="tel" class="form-control" id="cellphone" name="cellphone" ng-model="cellphone" placeholder="Cell Phone" ng-pattern="/^[0-9]*$/">
							<div ng-if="onlineHelpRequest.cellphone.$error.pattern">
								<p class="help-block">Numbers only in this field</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-9" ng-class="{ 'has-error' : onlineHelpRequest.workphone.$invalid && (onlineHelpRequest.workphone.$touched || onlineHelpRequest.workphone.$dirty) }">
							<label for="workphone">Work Phone</label>
							<input type="tel" class="form-control" id="workphone" name="workphone" ng-model="workphone" placeholder="Work Phone" ng-pattern="/^[0-9]*$/">
							<div ng-if="onlineHelpRequest.workphone.$error.pattern">
								<p class="help-block">Numbers only in this field</p>
							</div>
						</div>
						<div class="form-group col-xs-3" ng-class="{ 'has-error' : onlineHelpRequest.workext.$invalid && (onlineHelpRequest.workext.$touched || onlineHelpRequest.workext.$dirty) }">
							<label for="workext">Ext.</label>
							<input type="number" class="form-control" id="workext" name="workext" ng-model="workext" placeholder="Ext.">
							<div ng-if="onlineHelpRequest.workext.$error.number">
								<p class="help-block">Numbers only in this field</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" ng-class="{ 'has-error' : onlineHelpRequest.email.$invalid && (onlineHelpRequest.email.$touched || onlineHelpRequest.email.$dirty) }">
							<label for="email">Email <span class="required-field">*</span></label>
							<input type="email" class="form-control" id="email" name="email" ng-model="email" placeholder="Email" required>
							<div ng-if="onlineHelpRequest.email.$touched || onlineHelpRequest.email.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.email.$error.required">This field cannot be blank</p>
							</div>
							<div ng-if="onlineHelpRequest.email.$error.email">
								<p class="help-block">Must be a valid email address</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" ng-class="{ 'has-error' : onlineHelpRequest.explain.$invalid && (onlineHelpRequest.explain.$touched || onlineHelpRequest.explain.$dirty) }">
							<label for="explain">Explain the situation <span class="required-field">*</span></label>
							<textarea class="form-control" rows="5" id="explain" name="explain" ng-model="explain" placeholder="Enter a short description of situation" required></textarea>
							<div ng-if="onlineHelpRequest.explain.$touched || onlineHelpRequest.explain.$dirty">
								<p class="help-block" ng-if="onlineHelpRequest.explain.$error.required">This field cannot be blank</p>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="button-group clearfix">
				<button class="btn btn-primary-fast btn-lg pull-right" ng-disabled="onlineHelpRequest.$invalid">Submit</button>
			</div>
		</form>
	</div>
</div>