<!-- Start Main -->
<div class="row">
	<div class="col-xs-12 masthead">
		<div class="masthead-title">
			<h2>Financial Aid Application</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>FAST Demonstration School</h3>
		<p><strong class="text-danger">IMPORTANT!</strong> If this is not the school to which you are applying, go to your school's homepage and click on the FAST logo.</p>

		<br>
		<hr>
		<br>

		<div class="col-md-4 col-md-offset-2">
			<a href="" ui-sref="instructions" class="btn btn-success btn-lg btn-block">Start Application</a>
			<br>
		</div>
		<div class="col-md-4">
			<a href="" class="btn btn-primary btn-lg btn-block">Resume Application</a>
		</div>


		<br><br><br><br>
		<hr>
		<ul class="centered-list text-danger">
			<li>All Applicants' Deadline - 1/15/2018</li>
			<li>2014 Tax Return Deadline - 4/15/2017</li>
			<li>Tax Documents Deadline - 4/15/2017</li>
		</ul>
	</div>
</div>